.pokedex{
    text-align: center;
}

.pokedex-cards{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    text-align: center;
}

.pokedex-winner{
    color:cyan;
}

.pokedex-loser{
    color: crimson;
}